.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
}

.App-header {
  /* background-color: #282c34; */
  height: 10%;
  width: 72.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0, 0, 0, 0.692);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image: url('./desert.jpg');
  background-size: cover;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

/* .wrapper {
  background-image: url('./swbann2.jpg');
  background-size: cover;
  z-index: -8;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
} */
